@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-x-hidden font-lato;
}

@layer components {
  .bg-landing {
    background-image: linear-gradient(
        180deg,
        #000000 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      url(/images/romantic-backdrop-1.jpeg);
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
  }
  .bg-gradient {
    background: linear-gradient(62.69deg, #ffa944 1.35%, #ff327c 57.87%);
  }
}
